@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400,700);

@bg: #f2f2f2;
@title_bg: #998d75;
@options_bg: #cab892;
@title: #2b4552;
@border: #999;

@dark: #222;
@light: #999;
@white: #fff;

@chevron: @dark;
@yAxis: #ccc;

@movie: @title;
@won: #0e8c97;
@won-first: #e5aa3d;
@nominated: @light;

@career: #f34242;
@age: #85b83c;
@year: @won;
@year-others: @won;
@birth: #000;

body {
	font-family: Georgia, 'Open Sans', helvetica, arial, san-serif;
	margin: 0;
	padding: 0;
	background: @bg;
}
.hide {
	display: none;
}
.invisible {
	visibility: hidden;
}
.link {
	cursor: pointer;
}
.bold {
	font-weight: 700;
}
.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
	cursor: default;
}

/* header */
@headerH: 48px;
@headerPadding: 6px;
.header-scrolled {
	z-index: 200;
	font-family: 'Rokkitt';
	font-weight: 700;
	font-size: 32px;
	padding: @headerPadding 0;
	background-color: @title_bg;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	line-height: @headerH;
}
.header-social {
	z-index: 300;
	position: fixed;
	top: @headerPadding;
	text-align: right;
	width: 100%;
}
.vis-axis {
	z-index: 200;
	width: 100%;
	height: 50px;
	background-color: @bg;
	padding-left: 5%;
}
.fixed {
	position: fixed;
	top: @headerH + @headerPadding * 2;
}
.header {
	padding-top: 1em;
	text-align: center;
	.title {
		color: @title;
		font-family: 'Rokkitt';
		font-weight: 700;
		font-size: 3em;
	}
	.desc {

	}
}
.options {
	background-color: @options_bg;
	padding: 1em 0;
	list-style-type: none;
	margin: 2em 0 1em 0;
	li {
		display: inline-block;
	}
}
.option-title {
	font-weight: 700;
	padding-right: 0.5em;
}
.option-divide {
	padding-left: 0.8em;
	padding-right: 0.4em;
}
.sort {
	z-index: 100;
	display: inline-block;
	position: relative;
	text-align: left;
	width: 390px;
	.sort-selected {
		background: url('../images/chevron-down.png') no-repeat 98% @white;
		background-size: 1.5em;
		padding: 4px 16px;
		border: 1px solid @border;
		line-height: 32px;
	}
	.clicked {
		background: url('../images/chevron-up.png') no-repeat 98% @white;
		background-size: 1.5em;
	}
	.list {
		width: 100%;
		box-sizing: border-box;
		background: @white;
		position: absolute;
		top: 42px;
		list-style-type: none;
		margin: 0;
		padding: 0;
		border-right: 1px solid @border;
		border-bottom: 1px solid @border;
		border-left: 1px solid @border;
		li {
			display: list-item;
			cursor: pointer;
			padding: 12px 16px;
		}
		.list-year:hover {
			background-color: fadeOut(@year, 50%);
		}
		.list-age:hover {
			background-color: fadeOut(@age, 50%);
		}
		.list-career:hover {
			background-color: fadeOut(@career, 50%);
		}
		.list-normal:hover {
			background-color: fadeOut(@light, 50%);
		}
		.divide {
			border-top: 1px solid @border;
		}
		.selected {
			font-weight: 700;
		}
	}
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1em;
	background: fade(@title_bg, 20%);
	text-align: center;
	color: #999;
	span {
		padding: 0 1em;
	}
	a {
		color: @title;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	.source {
		font-size: 14px;
		margin-top: 6px;
		line-height: 16px;
		div {
			margin-top: 12px;
			a {
				color: @light;
				text-decoration: underline;
			}
		}
		.close {
			color: @title;
		}
	}
}

/* vis elements */
.vis {
	width: 90%;
	margin: -50px auto 0; /* elments margin.top */
	position: relative;
}
.director-more {
	color: @dark;
	position: absolute;
	top: 0;
	border-bottom: 2px solid @border;
	overflow: hidden;
	box-sizing: border-box;
	.dummy {
		height: 30px;
	}
	.name {
		padding: 1em;
		background-color: fade(@options_bg, 50%);
		font-size: 18px;
		font-weight: bold;
	}
	.imdb {
		font-weight: normal;
		font-size: 12px;
		background-color: @title;
		padding: 2px 6px;
		display: inline-block;
		margin-left: 6px;
		a {
			color: @white;
			text-decoration: none;
		}
	}
	.first {
		background-color: @bg;
		padding: 1em 0;
		margin: 0;
		border: 1px solid fade(@options_bg, 50%);
		list-style-type: none;
		li {
			display: inline-block;
			vertical-align: middle;
		}
		.oscars {
			color: @light;
			padding-left: 1em;
			padding-right: 1em;
		}
		.time {
			border-left: 1px solid #666;
			padding-left: 1em;
			line-height: 20px;
			.age {
				color: @age;
			}
			.career {
				color: @career;
			}
		}
		.debut {
			font-style: italic;
		}
	}
	.won, .directed{
		background-color: fade(@options_bg, 50%);
		ul {
			margin: 6px 0 0 -12px;
			font-size: 16px;
			list-style-type: none;
		}
	}
	.won {
		.heading {
			color: @won;
		}
		padding: 1em;
	}
	.nominated {
		padding-top: 1em;
		.heading {
			color: @nominated;
		}
		ul {
			margin: 6px 0 0 -12px;
			font-size: 16px;
			list-style-type: none;
		}
	}
	.directed {
		padding-left: 1em;
		padding-bottom: 1em;
		.number {
			font-weight: bold;
			color: @movie;
		}
	}
}

.vis line {
	shape-rendering: crispEdges;
}
.axis text {
	font-size: 14px;
}
.axis line {
   	stroke: @dark;
}
.axis path {
   fill: none;
   stroke: none;
}
.x-axis {
	stroke: @dark;
}
.y-axis {
	stroke: @yAxis;
	stroke-width: 1;
}
.y-axis-text {
	text-anchor: end;
	font-size: 14px;
}
.chevron {
	fill: @chevron;
}
.movie {
	fill: @movie;
}
.won {
	fill: @won;
}
/*.won-first {
	stroke: @won;
	stroke-width: 2px;
	fill: @won-first;
}*/
.nominated {
	fill: @nominated;
}
.career {
	stroke: @career;
	stroke-width: 6;
}
.career-text {
	fill: @career;
}
.age {
	stroke: @age;
	stroke-width: 6;
}
.age-text {
	fill: @age;
}
.year-first {
	stroke: @won;
	stroke-width: 2px;
}
.year-first-text {
	fill: @won;
}
.year-others {
	stroke: @year-others;
}
.year-others-text {
	fill: @year-others;
}
.career-text, .age-text, .year-first-text, .year-others-text, .birth-text, .death-text {
	font-size: 12px;
	.unselectable();
}
.birth, .death, {
	stroke: @birth;
	stroke-dashArray: 2, 2;
}
.death-v, .death-h {
	stroke: @birth;
	stroke-width: 3px;
}
.movie-info {
	font-size: 16px;
	text-anchor: middle;
}
